.block {
    /* width: 400px; */
    /* height: 100px; */
    background: #e2e0e0;
    
    max-width: 1000px;
    min-width: 800px;

    max-height: 1000px;
    min-height: 100px;
}

.inline {
    width: 1000px;
    height: 100px;
}

.img {
    width: 1000px;
}