body {
    background: #000;
}

.text {
   color: white;
   font-size: 30px;
}

.rectangle {
    max-width: 50%;
    height: 100px;
    background: white;
    border-radius: 10px;

    position: fixed;
    left: 50%;
    right: 50px;
    bottom: 100px;
}

.circle {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;

    position: fixed;
    left: 55%;
    bottom: 150px;
}